@font-face {
    font-family: "Gloria2";
    src: url(recurs/Gloria.ttf) format("truetype");
}
@font-face {
    font-family: "Gochi";
    src: url(recurs/GochiHand-Regular.ttf) format("truetype");
}

body{
    margin: 20px;
    background-color: #FFF6E5;
    font-family: "Gochi", sans-serif;
    font-size: 28px;
    padding: 10px;
}

p{
    font-size: 20px;
    font-family: "Gloria2", sans-serif;
    margin-top: 0;
    line-height: 1.5;
}

.gridEncab{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.encabezado{
    text-align: center;
    color: #f6b2f6;
    font-size: 25px;
    text-shadow: 
        4px 4px 0 #272525,
        6px 6px 0 #41256d;
    padding: 20px;
    background-image: url(recurs/encabezado.png);
    background-size: cover;
    background-position: center;
    border: 5px solid #262424;
    border-radius: 20px;
    margin-top: -30px;
    margin-bottom: -20px;
    margin-left: -60px;
    width: 80%;
    height: 85%;
    box-shadow: 6px 6px 0 #2d2b2b;
}

.encabezado h1{
    margin-top: 600px;
}

.encabezado p{
    font-size: 25px;
    margin-top: -20px;
    margin-bottom: 70px;
    color: #fcdd46;
    text-shadow: 4px 0 0 #585252;
}

#encabezado{
    margin-top: 10px;
}

nav{
    display: flex;
    background-color: #ffbc5f;
    padding: 10px;
    border: 4px solid #363434;
    border-radius: 12px;
    box-shadow: 6px 6px 0 #3e3c3c;
    margin-top: -30px;
    margin-left: -40px;
}

ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 60px;
}

a{
    text-decoration: none;
    padding: 12px 22px;
    font-size: 24px;
    border: 3px solid #2d2c2c;
    border-radius: 12px;
    background-color: #2EC4B6;
    transition: transform 0.2s, box-shadow 0.2s;
}

a:link,
a:visited{
    color: #232222;
}

a:hover{
    transform: rotate(-3deg) scale(1.05);
    box-shadow: 4px 4px 0 #323232;
    background-color: #f35365;
    color: #FFF;
}

.seccion-info{
    display: flex;
    gap: 30px;
    align-items: flex-start;
}

.conocenos{
    background-color: #CBEDF9;
    border: 4px solid #333232;
    border-radius: 16px;
    box-shadow: 8px 8px 0px #2d3059;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 5px 50px;
    margin-right: 0;
    width: 50%;
}

.conocenos h2{
    font-size: 30px;
    margin-bottom: -3px;
    color: #202950;
}

.conocenos p{
    margin-top: 10px;
    color: #3d3d3d;
}

.conocenos img{
    float: right;
    margin-right: 10px;
    margin-left: 20px;
    width: 200px;
    height: auto;
    border-radius: 4px;
}

.historia{
    display: block;
    background-color: #F9D5E5;
    border: 4px solid #343333;
    border-radius: 16px;
    box-shadow: 8px 8px 0px #2e2d2d;
    padding: 5px 50px;
    width: 50%;
}
.historia img{
    width: 450px;
    height: auto;
    border-radius: 4px;
    margin-left: 110px;
}
.historia h2{
    font-size: 30px;
    margin-bottom:10px;
    color: #702749;
}
.historia p{
    margin-top: 10px;
    color: #391f39;
    font-size: 18px;
    margin-bottom: 20px;
}

.contenedor{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 35px;
    margin-right: 30px;
    margin-left: -30px;
}

.item{
    background-color: #F9D5E5;
    padding: 30px;
    border-radius: 16px;
    border: 4px solid #2d2c2c;
    box-shadow: 6px 6px 0 #3a3a3a;
    transition: transform 0.2s;
    height: 480px;
    width: 80%;
    color: #817272;
}
.item strong{
    font-size: 30px;
    color: #623d59;
    margin-bottom: 10px;
}
.item img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 20px;
}

.item:hover{
    transform: translateY(-5px) rotate(1deg);
}

#contacto{
    background-color: #bcb2ef;
    border: 4px solid #2b2a2a;
    border-radius: 16px;
    box-shadow: 6px 6px 0 #2d2d2d;
    padding:0 20px;
}
#contacto h2{
    font-size: 30px;
    margin-top: 10px;
    color: #6558a8;
}
#contacto p{
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
}

aside{
    display: flex;
    float: right;
    margin: 20px;
    gap: 10px;
    width: 30%;
}

footer{
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
    color: #532b75;
}

@media (max-width: 900px){
    .seccion-info{
        flex-direction: column;
    }

    .conocenos,
    .historia{
        width: 100%;
    }
}
