@font-face {
    font-family: "Gloria2";
    src: url(recurs/Gloria.ttf) format("truetype");
}
@font-face {
    font-family: "Gochi";
    src: url(recurs/GochiHand-Regular.ttf) format("truetype");
}

body{
    margin: 20px;
    background-color: #FFF6E5;
    font-family: "Gochi", sans-serif;
    font-size: 28px;
    padding: 10px;
}

/*main{
    margin-top: 35px;
    background-color: #CBEDF9;
    border: 4px solid #000;
    border-radius: 16px;
    box-shadow: 8px 8px 0px #000;
    font-size: 28px;
    padding: 25px;
}*/

p{
    font-size: 20px;
    font-family: "Gloria2", sans-serif;
    margin-top: 0;
    line-height: 1.5;
}
.gridEncab{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}
.encabezado{
    text-align: center;
    color: #e787e2;
    font-size: 25px;
    text-shadow: 
        4px 4px 0 #272525,
        6px 6px 0 #b295e1;
    padding: 20px;
    background-image: url(recurs/encabezado.png);
    background-size: cover;
    background-position: center;
    height: 370px;
    border: 5px solid #262424;
    border-radius: 20px;
    
    background-size: 400px auto;
    margin-top: -30px;
    margin-bottom: -20px;
    margin-left: -60px;
    width: 80%;
    height: 85%;
    box-shadow: 6px 6px 0 #2d2b2b;
}
.encabezado h1{
    margin-top: 600px;
}
.encabezado p{
    margin-top: -30px;
    margin-bottom: 70px;
}
#encabezado {
    margin-top: 10px;
}

nav{
    display: flex;
    background-color: #ffbc5f;
    padding: 10px;
    border: 4px solid #363434;
    border-radius: 12px;
    box-shadow: 6px 6px 0 #3e3c3c;
    margin-top: -30px;
    margin-left: -40px;
}

ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 60px;
}

a{
    text-decoration: none;
    padding: 12px 22px;
    font-size: 24px;
    border: 3px solid #2d2c2c;
    border-radius: 12px;
    background-color: #2EC4B6;
    transition: transform 0.2s, box-shadow 0.2s;
}

a:link,
a:visited{
    color: #232222;
}

a:hover{
    transform: rotate(-3deg) scale(1.05);
    box-shadow: 4px 4px 0 #323232;
    background-color: #f35365;
    color: #FFF;
}
.conocenos{
    background-color: #CBEDF9;
    border: 4px solid #333232;
    border-radius: 16px;
    box-shadow: 8px 8px 0px #2d3059;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 5px  50px;
    margin-right: 820px;
}
.conocenos h2{
    font-size: 30px;
    margin-bottom: -3px;
    color: #202950;
}
.conocenos p{
    margin-top: 10px;
    color: #3d3d3d;
}
.conocenos img{
    float: right;
    margin-right: 10px;
    margin-left: 20px;
    width: 180px;
    height: auto;
    border: 4px solid #2d2c2c;
    border-radius: 16px;
    box-shadow: 6px 6px 0 #3a3a3a;
}
.historia{
    background-color: #F9D5E5;
    border: 4px solid #343333;
    border-radius: 16px;
    box-shadow: 8px 8px 0px #2e2d2d;
    padding: 5px  50px;
}

.contenedor{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}
.item{
    background-color: #E8B4E8;
    padding: 20px;
    border-radius: 16px;
    border: 4px solid #2d2c2c;
    box-shadow: 6px 6px 0 #3a3a3a;
    transition: transform 0.2s;
}
.item:hover{
    transform: translateY(-5px) rotate(1deg);
}

#contacto{
    background-color: #9D8DF1;
    border: 4px solid #2b2a2a;
    border-radius: 16px;
    box-shadow: 6px 6px 0 #2d2d2d;
}

aside{
    display: flex;
    float: right;
    margin: 20px;
    gap: 10px;
    width: 30%;
}

footer{
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
}
