@font-face {
    font-family: "Gloria2";
    src: url(recurs/Gloria.ttf) format("truetype");
}
@font-face {
    font-family: "Gochi";
    src: url(recurs/GochiHand-Regular.ttf) format("truetype");
}
#menu{
    font-size: 30px;
    font-family: "Gochi", sans-serif;
    background-color: rgb(242, 210, 244);
}
#contacto{
    background-color: rgb(161, 153, 217);
}
.encabezado{
    margin: 0;
    text-align: center;
    color:wheat;
    font-family:"Gochi", sans-serif;
    font-size: 50px;
    text-shadow: rgb(145, 62, 104) 4px 3px 4px, rgb(76, 12, 48) 3px 0 25px;
    padding: 10px;
    margin: 0;
    background-image: url(recurs/encabezado.jpg);
    height: 370px;
}
body{
    margin-left: 20px;
    background-color: beige;
    margin-right: 20px;
    font-family: "Gochi", sans-serif;
    font-size: 30px ;
}
main{
    margin-top: 35px;
    background-color: rgb(203, 237, 249);
    margin-left: 20px;
    font-size: 30px;
}
p{
    text-align:unset;
    font-size: 20px;
    font-family: "Gloria2", sans-serif;
    margin-top: 0px;
}
h2, h3{
    font-family: "Gochi", sans-serif;
}
aside{
    float: right;
     width: 20%;
}
.centrado{
    text-align: center;
    justify-content: center

}
a:link{
    color:rgb(145, 62, 104);
}
a:visited{
    color:rgb(118, 61, 69);
}
a:hover{
    color:rgb(94, 167, 149);
}
